[Unit]
Description=Nexus
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/isaac/Nexus/bot/
ExecStart=/home/isaac/Nexus/bin/python3.9 /home/isaac/Nexus/bot/main.py
User=isaac
Restart=always

[Install]
WantedBy=multi-user.target
