aiohttp==3.9.3
aiosignal==1.3.1
AoC-helper @ file:///C:/Users/isaac/Documents/Coding/AoC/AoC-helper
async-timeout==4.0.3
attrs==23.2.0
build==1.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
ctypescrypto==0.5
Cython==3.0.8
discord.py==2.3.2
fleep==1.0.1
font-hanken-grotesk==0.0.2
frozenlist==1.4.1
idna==3.6
libarchive-c==5.0
multidict==6.0.5
mutagen==1.47.0
netifaces==0.11.0
packaging==23.2
Pillow==10.1.0
prettytable==3.9.0
psycopg2==2.9.9
pypng==0.20220715.0
pyproject_hooks==1.0.0
pyserial==3.5
regex==2023.10.3
requests==2.31.0
soupsieve==2.5
text-unidecode==1.3
urllib3==2.1.0
wavelink==3.2.0
wcwidth==0.2.10
websocket-client==1.7.0
websockets==11.0.3
yarl==1.9.4
