[Unit]
Description=The lavalink worker for Nexus' music cog
After=network.target

[Service]
ExecStart=java -jar Lavalink.jar
WorkingDirectory=/home/isaac/Nexus/lavalink
Restart=always
User=root

[Install]
WantedBy=multi-user.target
